<%- include ('.././include/header')%> 

<div class="sidebar"> 
     <h2 class="big-title">Gestion</h2>
        <button class="dropdown-btn">Notes</button>
            <div class="dropdown-container">
                <button class="btnmenu" onclick='afficheligne(0)'><%=matiers.NomMatiere %></button>
            </div>
</div>

   
<div>

  <!--
<form class="matierselect" action="">
    <select  name="matiere" >
      <option value="">bien</option>
      <option value="">cool</option>
    </select>
    <input type="submit" value="envoyer">
  </form>
  -->
  <% if(locals.classes){ %> 
  <div class="matiers">
    <% for( i=0;i < classes.length;i++){ %> 
        <a class="matiera" href="professeurs/<%= classes[i].id %>"> <button onclick="afficheligne(0)"class="matierselect" > <%= classes[i].niveauclasse %>   </button> </a> 
        <%}%>   
      </div>  
  </div>
  <% } %> 

 <form class="tab-affich secre" action="" method="post">
  <table class="" >
    <thead>
        <tr>
          <!--<th colspan="2">The table header</th> --> 
           <th>ETUDIANTS</th> 
           <th>NOTE</th> 
        </tr>
    </thead>
    <tbody>
    <% if(locals.eleves) {%> 
      <% for( i=0;i<eleves.length;i++){ %> 
        <tr>
            <td><%= eleves[i].NomEleve%> <%= eleves[i].prenomEleve %>  </td>
            <td><input type="number" name="note<%=i%>" id=""></td>
        </tr>
        <% } %> 
     <% } %>    
    </tbody>
</table>
    <input type="submit" value="enregistrer">
 </form>
     
    <script>  
          let dropdown = document.getElementsByClassName("dropdown-btn");
          let i=0;

           if (dropdown) {
             for (i = 0; i < dropdown.length; i++) {
                 dropdown[i].addEventListener("click", function() {
                   this.classList.toggle("active");
                   let dropdownContent = this.nextElementSibling;
                   if (dropdownContent.style.display === "block") {
                     dropdownContent.style.display = "none";
                   } else {
                     dropdownContent.style.display = "block";
                   }
                 });
               }      
           }

           function afficheligne(i)
           {
             let secre = document.getElementsByClassName("secre")
            
             if(secre[i])
             { 
               let a =0 
              for(a;a<secre.length;a++)
              {
                 if(secre[a].style.display == "block")
                 secre[a].style.display = "none";
              }
               secre[i].style.display = "block";
              
             }else{
               console.log('ça arrive')
             }
            

           };
   
       </script>

<%- include ('.././include/footer')%> 