<%- include ('.././include/headerdash')%> 


<h1 class="mb-0 fw-bold text-center"> NOTE DE <%= Matiere  %> </h1>
   
<div>
  <div class="card">
    <div class="card-body">

      <!-- Table -->
           
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ETUDIANTS</th>
                      <th scope="col">NOTE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(locals.notes) {%> 
                      <% if(locals.notes.length !=0){ %> 
                          <% for( i=0;i<notes.length;i++){ %> 
                            <tr>
                              <th scope="row"><%= i+1 %> </th>
                              <td><%= eleves[i].NomEleve  %> <%= eleves[i].prenomEleve %> </td>
                              <td><%=notes[i].valenote  %> </td>
                            </tr>
                          <% } %> 
                      <% }else{ %> 
                        <tr>
                          <th scope="row">1</th>
                          <td>pas d'etudiants </td>
                          <td>null</td>
                        </tr>
                           <% } %>  
                    <% }else{ %> 
                      <tr>
                        <th scope="row">1</th>
                        <td>pas d'etudiants </td>
                        <td>null</td>
                      </tr>
                      <% } %> 
                  </tbody>
                </table>
              </div>    
    </div>
  </div>


<%- include ('.././include/footerdash')%> 