<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="static/dashkit/assets/favicon/favicon.ico" type="image/x-icon">
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="static/dashkit/mapbox-gl-js/v0.53.0/mapbox-gl.css">
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="static/dashkit/assets/css/libs.bundle.css">
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="static/dashkit/assets/css/theme.bundle.css" id="stylesheetLight">
    <link rel="stylesheet" href="static/dashkit/assets/css/theme-dark.bundle.css" id="stylesheetDark">
    
    <style>body { display: none; }</style>
    
    <!-- Title -->
    <title>Dashkit</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="static/dashkit/gtag/js.js?id=UA-156446909-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-156446909-1");</script>
  </head>
  <body>
  <!-- MAIN CONTENT -->
  <div class="main-content"> 
    <div class="card">
        <div class="card-header">
          
          <h4 class="card-header-title me-auto">
            <%= classe.niveauclasse  %> 
          </h4>
          <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
            <%  for ( i = 0; i < type.length; i++) { %>  
                <li class="nav-item">
                    <a href="#<%= type[i].descfrais  %> " data-bs-toggle="collapse" aria-expanded="true"  aria-controls="<%= type[i].descfrais %>" class="nav-link active"><%= type[i].descfrais  %> </a>
                </li>
            <% } %> 
          </ul>
        </div>
        <div class="card-body" >
            <% for ( i = 0; i < type.length; i++) { %>
                <div class="collapse show" id="<%= type[i].descfrais  %>" class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                          
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Etudiant</th>
                              <th scope="col"> montant verse  </th>
                              <th scope="col" > a solder </th>
                              <th scope="col"> montant global a payer  </th>
                              <th scope="col" ></th>
                            </tr>
                      
                        </thead>
                        <tbody>
                         <% for(a=0;a<Eleves.length;a++){ %> 
                          <tr>
                            <th scope="row"><%= a+1  %>  </th>
                            <td> <%= Eleves[a].NomEleve%> <%= Eleves[a].prenomEleve %></td>
                            <td> <% if(soldePayer[a]){ %>  <%= soldePayer[a]  %> <% }else{%> 0 <%} %>  </td>
                            <td><% if(soldePayer[a]){ %>  <%= parseInt(type[i].montantFrais)-soldePayer[a]  %> <% }else{%> 0 <%} %> </td>
                            <td><%= type[i].montantFrais  %></td>
                            
                        </tr>
                         <% } %>        
                        </tbody>
                        </table>
                        
                </div>
    
        </div> 
             <%  } %>
           

     
      </div>
    
 </div>
 <%- include ('../.././include/footerdash')%> 